<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.demo.home">

    <application>
        <activity
            android:name=".tab.activity.FamilyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ExAppTheme.Base" />
        <activity
            android:name=".tab.activity.AddDeviceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ExAppTheme.Base" />
        <activity
            android:name=".tab.panel.CustomDeviceControlActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ExAppTheme.Base" />
    </application>
</manifest>
