<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.demomodule2">

    <application>
        <activity android:name="com.tuya.personal.module.SettingActivity"
            android:theme="@style/TeAppTheme.Base"/>
        <activity android:name="com.tuya.personal.module.PersonalActivity"
            android:theme="@style/TeAppTheme.Base"/>
    </application>
</manifest>
